.click button{
    background-color: #003594;
    border: 3px solid gray;
    border-radius: 3px;
    color: white;
    padding: 20px 20px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    box-shadow: 10px 10px 5px 0px rgba(181,181,181,1);
    transition: all 0.7s 0s ease-out;

}

.click button:hover{
    background-color: #032769;
    cursor: pointer;
    transition: all 0.6s 0s ease-in-out;

}
